/* reset:start */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
menu {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

table {
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  text-align: initial;
}

/* reset:end */
/* 設定全域環境: start */
/* 顏色、圖片參數化 */
:root {
  /* color */
  --main-text-color: #333333;
  --main-background-color: #f6f7f8;
  --header-color: #666666;
  --header-box-shadow: 0 4px 12px 0 rgba(0,0,0,0.08);
  --nav-link-color: #666666;
  --social-media-link-color: #999999;
  --social-media-link-hover-color: #ff6600;
  --title-color: #ff6600;
  --company-color: #666666;
  --duration-color: #666666;
}


html, body {
  /* 全域色彩 */
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  
  /* 導入 GOOGLE FONTS 字體 */
  font-family: "Lato","Noto Sans TC", sans-serif;
}


/* 設定全域環境: end */


/* 設定 header 基本樣式 */
header {
  height: 60px;
  color: var(--header-color);
  box-shadow: var(--header-box-shadow);
}

nav {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.nav-title {
  font-weight: 700;
  letter-spacing: 1px;
}

.nav-link {
  color: var(--nav-link-color);
}




