/* 設定 info-section 樣式 */
.info-section {
  text-align: center;
}

.avatar-img {
  border-radius: 25px;
  width: 128px;
  height: 128px;
}

.name {
  font-size: 2rem;
}

.social-media-link {
  color: var(--social-media-link-color);
  text-decoration: none;
}

.social-media-link:hover {
  color: var(--social-media-link-hover-color);
}

.title {
  margin-bottom: 10px;
  text-align: start;
  font-size: 0.9rem;
  letter-spacing: 2px;
  color: var(--title-color);
}

.description-tittle {
  border-top: 1px solid var(--decoration-line-color);
}

.description {
  text-indent: 2em
}